.container {
    padding: 20px;
}

  .card {
    max-width: 100%;
    width: 1000px;
    height: auto;
    margin-top: 5%;
    border-radius: 2%;
    box-shadow: 1px 1px 1px grey;
    background-image: linear-gradient(to bottom right, #b7c6d6c0, #a1b5cb09);
}

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    padding: 15px;
  }


  button {
    margin-top: 20px;
    padding: 5px;
  }