<div class="container">
  <div class="card">
    <div class="card-body">
      <h2>Comparación de Imágenes</h2>
  
      <form>
        <div class="form-group">
          <label for="imageInput1">Seleccionar imagen 1:</label><br>
          <input id="imageInput1" type="file" (change)="onFileSelected($event, 1)">
        </div>
        
    
        <div class="form-group">
          <label for="imageInput2">Seleccionar imagen 2:</label><br>
          <input id="imageInput2" type="file" (change)="onFileSelected($event, 2)">
        </div>
    
        <button class="btn btn-primary" (click)="compareImages()">Comparar Imágenes</button>
      </form>
    </div>
  </div>
</div>